<p id="notice"><%= notice %></p>

<table class=teams_table >
  <tr id=awt_bar>
    <th class="awt" colspan=18 >
      <%= link_to "Average Weighted Time", controller: "awt" %>
    </th>
  </tr>
  <tr class=header_row>
    <td class=awt_cat colspan=9><b>Day 1</b></td>
    <td class=awt_cat colspan=9><b>Day 2</b></td>
  </tr>
  <tr>
    <% 2.times do %>
      <td class=awt_cat><b>Class</b></td>
      <% @class_list.each do |c| %>
        <td class=awt_cat><%=c%></td>
      <% end %>
    <% end %>
  </tr>
  <tr>
  <td class=awt_cat><b>AWT</b></td>
  <% @class_list.each do |c| %>
    <td class=awt_cat>
      <% if @day1_hash[c] %>
        <%=@day1_hash[c][:awt]%>
      <% else %>
        n/a
      <% end %>
    </td>
  <% end %>
  <td class=awt_cat><b>AWT</b></td>
  <% @class_list.each do |c| %>
    <td class=awt_cat>
      <% if @day2_hash[c] %>
        <%=@day2_hash[c][:awt]%>
      <% else %>
        n/a
      <% end %>
    </td>
  <% end %>
  </tr>

</table>
<table border = 1 width = 100% style="border-collapse: collapse; order-spacing: 0;
    margin: 0; padding: 0;">
  <tr style="background-color:darkred">
    <th align = center colspan=5><font color="white">Team Results</font></th>
  </tr>
  <tr style="background-color:LightGoldenRodYellow">
  <% @classes.each do  |c, teams| %>
      <%if (teams.count > 0)%>
        <th align = center><%= c.upcase %></th>
      <% end %>
  <% end %>
  </tr>
  <tr>
  <% @classes.each do  |c, teams| %>
    <%if (teams.count > 0)%>
      <td valign=top>
        <table >
          <%iplace = 1 %>
          <% teams.each do |team| %>
            <tr>
              <td valign=top><%=iplace.to_s %></td>
              <% if team.total_score != nil && team.total_score < 9999 && team.total_score > 0.0%>
                <%score = " (" + team.total_score.round(2).to_s + ")"%>
              <% else %>
                <%score = ""%>
              <% end %>
              <td class="team">
                <b><%= link_to team.name, :action => 'show', :id => team.id %><%=score%></b><br>
                <% if @day1_hash[team.id] %>
                  <b><i>Day1:</b></i> <%= @day1_hash[team.id] %>
                  <br>
                <% end %>
                <% if @day2_hash[team.id] %>
                  <b><i>Day2:</b></i> <%= @day2_hash[team.id] %>
                <% end %>
              </td>
              <%iplace +=1%>
            </tr>
          <% end %>
         </table>
      </td>
    <% end %>
  <% end %>
  </tr>
</table>