<%= form_for(@day1_awt) do |f| %>
  <% if @day1_awt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day1_awt.errors.count, "error") %> prohibited this day1_awt from being saved:</h2>

      <ul>
      <% @day1_awt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :runner1_float_time %><br>
    <%= f.text_field :runner1_float_time %>
  </div>
  <div class="field">
    <%= f.label :runner1_time %><br>
    <%= f.time_select :runner1_time %>
  </div>
  <div class="field">
    <%= f.label :runner1_id %><br>
    <%= f.number_field :runner1_id %>
  </div>
  <div class="field">
    <%= f.label :runner2_float_time %><br>
    <%= f.text_field :runner2_float_time %>
  </div>
  <div class="field">
    <%= f.label :runner2_time %><br>
    <%= f.time_select :runner2_time %>
  </div>
  <div class="field">
    <%= f.label :runner2_id %><br>
    <%= f.number_field :runner2_id %>
  </div>
  <div class="field">
    <%= f.label :runner3_float_time %><br>
    <%= f.text_field :runner3_float_time %>
  </div>
  <div class="field">
    <%= f.label :runner3_time %><br>
    <%= f.time_select :runner3_time %>
  </div>
  <div class="field">
    <%= f.label :runner3_id %><br>
    <%= f.number_field :runner3_id %>
  </div>
  <div class="field">
    <%= f.label :awt_float_time %><br>
    <%= f.text_field :awt_float_time %>
  </div>
  <div class="field">
    <%= f.label :awt_time %><br>
    <%= f.time_select :awt_time %>
  </div>
  <div class="field">
    <%= f.label :cat_float_time %><br>
    <%= f.text_field :cat_float_time %>
  </div>
  <div class="field">
    <%= f.label :cat_time %><br>
    <%= f.time_select :cat_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
