<h1>Listing day1_awts</h1>

<table>
  <thead>
    <tr>
      <th>Runner1 float time</th>
      <th>Runner1 time</th>
      <th>Runner1</th>
      <th>Runner2 float time</th>
      <th>Runner2 time</th>
      <th>Runner2</th>
      <th>Runner3 float time</th>
      <th>Runner3 time</th>
      <th>Runner3</th>
      <th>Awt float time</th>
      <th>Awt time</th>
      <th>Cat float time</th>
      <th>Cat time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @day1_awts.each do |day1_awt| %>
      <tr>
        <td><%= day1_awt.runner1_float_time %></td>
        <td><%= day1_awt.runner1_time %></td>
        <td><%= day1_awt.runner1_id %></td>
        <td><%= day1_awt.runner2_float_time %></td>
        <td><%= day1_awt.runner2_time %></td>
        <td><%= day1_awt.runner2_id %></td>
        <td><%= day1_awt.runner3_float_time %></td>
        <td><%= day1_awt.runner3_time %></td>
        <td><%= day1_awt.runner3_id %></td>
        <td><%= day1_awt.awt_float_time %></td>
        <td><%= day1_awt.awt_time %></td>
        <td><%= day1_awt.cat_float_time %></td>
        <td><%= day1_awt.cat_time %></td>
        <td><%= link_to 'Show', day1_awt %></td>
        <td><%= link_to 'Edit', edit_day1_awt_path(day1_awt) %></td>
        <td><%= link_to 'Destroy', day1_awt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day1 awt', new_day1_awt_path %>
