<p id="notice"><%= notice %></p>

<p>
  <strong>Runner1 float time:</strong>
  <%= @day1_awt.runner1_float_time %>
</p>

<p>
  <strong>Runner1 time:</strong>
  <%= @day1_awt.runner1_time %>
</p>

<p>
  <strong>Runner1:</strong>
  <%= @day1_awt.runner1_id %>
</p>

<p>
  <strong>Runner2 float time:</strong>
  <%= @day1_awt.runner2_float_time %>
</p>

<p>
  <strong>Runner2 time:</strong>
  <%= @day1_awt.runner2_time %>
</p>

<p>
  <strong>Runner2:</strong>
  <%= @day1_awt.runner2_id %>
</p>

<p>
  <strong>Runner3 float time:</strong>
  <%= @day1_awt.runner3_float_time %>
</p>

<p>
  <strong>Runner3 time:</strong>
  <%= @day1_awt.runner3_time %>
</p>

<p>
  <strong>Runner3:</strong>
  <%= @day1_awt.runner3_id %>
</p>

<p>
  <strong>Awt float time:</strong>
  <%= @day1_awt.awt_float_time %>
</p>

<p>
  <strong>Awt time:</strong>
  <%= @day1_awt.awt_time %>
</p>

<p>
  <strong>Cat float time:</strong>
  <%= @day1_awt.cat_float_time %>
</p>

<p>
  <strong>Cat time:</strong>
  <%= @day1_awt.cat_time %>
</p>

<%= link_to 'Edit', edit_day1_awt_path(@day1_awt) %> |
<%= link_to 'Back', day1_awts_path %>
