<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team_member.team %>
</p>

<p>
  <strong>Runner:</strong>
  <%= @team_member.runner %>
</p>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
