<div class=home>
<h2><%= link_to "Import Runners / Teams", controller: "runners" %></h2>
<h2><%= link_to "Team Results", controller: "teams" %></h2>
<h2><%= link_to "Team Results 2 (for publishing)", controller: "teams2" %> </h2>
<h2><%= link_to "Individual Awards (based on AWT)", controller: "awards" %> </h2>
<h2><%= link_to "Average Weighted Time", controller: "awt" %></h2>
</div>
