<table width = 100% border=1 style="border-collapse: collapse; order-spacing: 0;
    margin: 0; padding: 0;">
  <tr style="background-color:DarkRed">
    <th align = center colspan=18 class="awt"><font color="white">Individual Awards</font></th>
  </tr>
  <tr>
    <%if (@isvm.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGoldenRodYellow">
          <th colspan=5 align=center>ISV Male</th>
        <tr>
        <tr style="background-color:LightGoldenRodYellow">
          <th></th><th>Runner</th><th>Day 1</th><th>Day 2</th><th>Score</th>
          <%iplace = 1 %>
          <% @isvm.each do |result| %>
            <tr>
              <td width=10% align=right valign=top >&nbsp<%=iplace.to_s %></td>
              <td width=40% align=center><b><%=result.firstname%> <%=result.surname%></b>
                <% team_member = TeamMember.where(runner_id: result.id).first %>
                <% if team_member %>
                  <i> - <%= Team.find(team_member.team_id).name %> </i>
                <% else %>
                  <i> - <%= result.school %> </i>
                <% end %> 
              </td>
              <td width=15% align="center">
                <%=result.day1_score.round(3) %> 
              </td>
              <td width=15% align="center">
                <%=result.day2_score.round(3) %>
              </td>
              <% if result.total %>
                <td width=20% align=center><%=result.total.round(2).to_s%></td>
              <% end %>
              <%iplace += 1%>
              <%if iplace > 12%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@isvf.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGoldenRodYellow">
          <th colspan=5 align=center>ISV Female</th>
        <tr>
        <tr style="background-color:LightGoldenRodYellow">
          <th></th><th>Runner</th><th>Day 1</th><th>Day 2</th><th>Score</th>
          <%iplace = 1 %>
          <% @isvf.each do |result| %>
            <tr>
              <td width=10% align=right valign=top >&nbsp<%=iplace.to_s %></td>
              <td width=40% align=center><b><%=result.firstname%> <%=result.surname%></b>
                <% team_member = TeamMember.where(runner_id: result.id).first %>
                <% if team_member %>
                  <i> - <%= Team.find(team_member.team_id).name %> </i>
                <% else %>
                  <i> - <%= result.school %> </i>
                <% end %> 
              </td>
              <td width=15% align="center">
                <%=result.day1_score.round(3) %> 
              </td>
              <td width=15% align="center">
                <%=result.day2_score.round(3) %>
              </td>
              <% if result.total %>
                <td width=20% align=center><%=result.total.round(2).to_s%></td>
              <% end %>
              <%iplace += 1%>
              <%if iplace > 12%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
  </tr>
  <tr>
    <%if (@isjvm.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGoldenRodYellow">
          <th colspan=5 align=center>ISJV Male</th>
        <tr>
        <tr style="background-color:LightGoldenRodYellow">
          <th></th><th>Runner</th><th>Day 1</th><th>Day 2</th><th>Score</th>
          <%iplace = 1 %>
          <% @isjvm.each do |result| %>
            <tr>
              <td width=10% align=right valign=top >&nbsp<%=iplace.to_s %></td>
              <td width=40% align=center><b><%=result.firstname%> <%=result.surname%></b>
                <% team_member = TeamMember.where(runner_id: result.id).first %>
                <% if team_member %>
                  <i> - <%= Team.find(team_member.team_id).name %> </i>
                <% else %>
                  <i> - <%= result.school %> </i>
                <% end %> 
              </td>
              <td width=15% align="center">
                <%=result.day1_score.round(3) %> 
              </td>
              <td width=15% align="center">
                <%=result.day2_score.round(3) %>
              </td>
              <% if result.total %>
                <td width=20% align=center><%=result.total.round(2).to_s%></td>
              <% end %>
              <%iplace += 1%>
              <%if iplace > 12%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@isjvf.count > 0)%>
      <td width=50% valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGoldenRodYellow">
          <th colspan=5 align=center>ISJV Female</th>
        <tr>
        <tr style="background-color:LightGoldenRodYellow">
          <th></th><th>Runner</th><th>Day 1</th><th>Day 2</th><th>Score</th>
          <%iplace = 1 %>
          <% @isjvf.each do |result| %>
            <tr>
              <td width=10% align=right valign=top >&nbsp<%=iplace.to_s %></td>
              <td width=40% align=center><b><%=result.firstname%> <%=result.surname%></b>
                <% team_member = TeamMember.where(runner_id: result.id).first %>
                <% if team_member %>
                  <i> - <%= Team.find(team_member.team_id).name %> </i>
                <% else %>
                  <i> - <%= result.school %> </i>
                <% end %> 
              </td>
              <td width=15% align="center">
                <%=result.day1_score.round(3) %> 
              </td>
              <td width=15% align="center">
                <%=result.day2_score.round(3) %>
              </td>
              <% if result.total %>
                <td width=20% align=center><%=result.total.round(2).to_s%></td>
              <% end %>
              <%iplace += 1%>
              <%if iplace > 12%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
  </tr>
  <tr>
    <%if (@isim.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGoldenRodYellow">
          <th colspan=5 align=center>ISI Male</th>
        <tr>
        <tr style="background-color:LightGoldenRodYellow">
          <th></th><th>Runner</th><th>Day 1</th><th>Day 2</th><th>Score</th>
          <%iplace = 1 %>
          <% @isim.each do |result| %>
            <tr>
              <td width=10% align=right valign=top >&nbsp<%=iplace.to_s %></td>
              <td width=40% align=center><b><%=result.firstname%> <%=result.surname%></b>
                <% team_member = TeamMember.where(runner_id: result.id).first %>
                <% if team_member %>
                  <i> - <%= Team.find(team_member.team_id).name %> </i>
                <% else %>
                  <i> - <%= result.school %> </i>
                <% end %> 
              </td>
              <td width=15% align="center">
                <%=result.day1_score.round(3) %> 
              </td>
              <td width=15% align="center">
                <%=result.day2_score.round(3) %>
              </td>
              <% if result.total %>
                <td width=20% align=center><%=result.total.round(2).to_s%></td>
              <% end %>
              <%iplace += 1%>
              <%if iplace > 12%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@isif.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGoldenRodYellow">
          <th colspan=5 align=center>ISI Female</th>
        <tr>
        <tr style="background-color:LightGoldenRodYellow">
          <th></th><th>Runner</th><th>Day 1</th><th>Day 2</th><th>Score</th>
          <%iplace = 1 %>
          <% @isif.each do |result| %>
            <tr>
              <td width=10% align=right valign=top >&nbsp<%=iplace.to_s %></td>
              <td width=40% align=center><b><%=result.firstname%> <%=result.surname%></b>
                <% team_member = TeamMember.where(runner_id: result.id).first %>
                <% if team_member %>
                  <i> - <%= Team.find(team_member.team_id).name %> </i>
                <% else %>
                  <i> - <%= result.school %> </i>
                <% end %> 
              </td>
              <td width=15% align="center">
                <%=result.day1_score.round(3) %> 
              </td>
              <td width=15% align="center">
                <%=result.day2_score.round(3) %>
              </td>
              <% if result.total %>
                <td width=20% align=center><%=result.total.round(2).to_s%></td>
              <% end %>
              <%iplace += 1%>
              <%if iplace > 12%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@ispm.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGoldenRodYellow">
          <th colspan=5 align=center>ISP Male</th>
        <tr>
        <tr style="background-color:LightGoldenRodYellow">
          <th></th><th>Runner</th><th>Day 1</th><th>Day 2</th><th>Score</th>
          <%iplace = 1 %>
          <% @ispm.each do |result| %>
            <tr>
              <td width=10% align=right valign=top >&nbsp<%=iplace.to_s %></td>
              <td width=40% align=center><b><%=result.firstname%> <%=result.surname%></b>
                <% team_member = TeamMember.where(runner_id: result.id).first %>
                <% if team_member %>
                  <i> - <%= Team.find(team_member.team_id).name %> </i>
                <% else %>
                  <i> - <%= result.school %> </i>
                <% end %> 
              </td>
              <td width=15% align="center">
                <%=result.day1_score.round(3) %> 
              </td>
              <td width=15% align="center">
                <%=result.day2_score.round(3) %>
              </td>
              <% if result.total %>
                <td width=20% align=center><%=result.total.round(2).to_s%></td>
              <% end %>
              <%iplace += 1%>
              <%if iplace > 12%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@ispf.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGoldenRodYellow">
          <th colspan=5 align=center>ISP Female</th>
        <tr>
        <tr style="background-color:LightGoldenRodYellow">
          <th></th><th>Runner</th><th>Day 1</th><th>Day 2</th><th>Score</th>
          <%iplace = 1 %>
          <% @ispf.each do |result| %>
            <tr>
              <td width=10% align=right valign=top >&nbsp<%=iplace.to_s %></td>
              <td width=40% align=center><b><%=result.firstname%> <%=result.surname%></b>
                <% team_member = TeamMember.where(runner_id: result.id).first %>
                <% if team_member %>
                  <i> - <%= Team.find(team_member.team_id).name %> </i>
                <% else %>
                  <i> - <%= result.school %> </i>
                <% end %> 
              </td>
              <td width=15% align="center">
                <%=result.day1_score.round(3) %> 
              </td>
              <td width=15% align="center">
                <%=result.day2_score.round(3) %>
              </td>
              <% if result.total %>
                <td width=20% align=center><%=result.total.round(2).to_s%></td>
              <% end %>
              <%iplace += 1%>
              <%if iplace > 12%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
  </tr>
</table>
