<!DOCTYPE html>
<html>
<head>
  <title>Teamscore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="120"> 
</head>
<body style="background-color:#f3f3f3">
<h1 align=center><%= APP_CONFIG[:title] %></h1>
<%= yield %>

</body>
</html>
